---
---

@import "{{ site.theme }}";


:root {
    --h: #6060C0
}

h1 {
    font-weight: bold !important;
    color: var(--h);
}
h2, h3 {
    font-style: italic;
    color: var(--h);

    margin-top: 50px;
}

blockquote {
    font-style: normal;
    border-left: 4px solid var(--h);
    padding-left: 15px;
}

.apiref {
    background-color: #00000025;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    border-left: 4px solid var(--h);
    padding-left: 15px;
    margin-bottom: 10px;
}
.apiref:hover {
    color: var(--h);
    cursor: pointer;
}